article.card
  a.card__link(href='single.html')
    .card__body
      h3.heading.card__title Cards
    .card__thumbnail
      img(
					width="280"
					height="156"
					src="../assets/img/default-thumbnail.png",
					srcset="../assets/img/default-thumbnail.png 1x, ../assets/img/default-thumbnail@2x.png 2x"
				)
