// sidebar
aside.l-sidebar#js-sidebar
  .drawer
    .drawer__header
      a(href="index.html")
        img(
          src="../assets/img/logo-colored.svg"
          alt="SACCK"
          width="98"
          height="24"
        )
    .drawer__body
      h2.heading.drawer__title Components
      nav.drawer__nav
        ul.drawer__list
          - for (var i = 1; i < 11; i++)
              if i % 3 == 0
                li.drawer__item
                  a(href="single.html") longText longText longText longText longText
              else
                li.drawer__item
                  a(href="single.html") menuText
