-
  var pageTitle = '404 - Page Not Found | SACCK';
  var pageDescription = '';

doctype html
html(lang="ja")
  head
    include ./include/_head
  body

    div.l-wrapper

      include ./include/_header

      include ./include/_sidebar

      //main
      main.l-main
        .l-container
          .hero
            h1.heading-1.hero__title 404 - Page Not Found
            p.hero__text アクセスしようとしたページが存在しません。
            p
              a(href="index.html").c-link Components overview

      include ./include/_footer
