-
  var pageTitle = 'SACCK';
  var pageDescription = '自分なりのマークアップの考えをまとめたサイト。HTML5やCSS3、JavaScriptを中心に、コードや参考文献を記載していきます。';

doctype html
html(lang="ja")
  head
    include ./include/_head
  body
    - var page = 'top';

    div.l-wrapper

      include ./include/_header

      include ./include/_sidebar

      //main
      main.l-main
          .l-container
            .hero
              h2.heading-1.hero__title Components
            .grid
              - for (var i = 0; i < 9; i++)
                article.grid__item
                  include ./include/_card

      include ./include/_footer
