// ----------------------------------------
// container
// ----------------------------------------

@use '../global/' as g;

.l-container {
  box-sizing: border-box;
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  @include g.mq(md) {
    width: auto;
    padding: 0 2.5em;
  }
}
