// ----------------------------------------
// container
// ----------------------------------------

@use '../global/' as g;

.l-container {
  width: 90%;
  max-width: 1240px;
  padding: 0 5%;

  @include g.mq(md) {
    width: auto;
    padding: 0 2.5em;
  }
}
