// ----------------------------------------
// drawer-nav
// ----------------------------------------

@use '../global' as g;

.l-drawer-nav {
  position: fixed;
  z-index: var(--z-index-default);
  top: 0;
  left: 0;
  grid-area: drawer-nav;
  width: calc(100% - 2.5rem);
  max-width: 320px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.2s g.ease(in-out-cubic), z-index 0.3s linear;

  @include g.mq(md) {
    width: 100%;
    max-width: 256px;
    transform: translateX(0);
  }
}

// JSで操作.button--hamburgerがtrigger
[data-drawer='open'] .l-drawer-nav {
  z-index: var(--z-index-drawer-open);
  transform: translateX(0);
}
