// ----------------------------------------
// footer
// ----------------------------------------

.l-footer {
  background-color: var(--color-primary-dark);

  &__copy {
    padding: 1em 0;
    text-align: center;

    small {
      font-size: 0.75em;
      font-weight: bold;
      color: var(--color-white);
    }
  }
}
