// /* ----------------------------------------
//   header
// ---------------------------------------- */

@use '../global' as g;

.l-header {
  /* 列の1本目から4本目のグリッドラインまで */
  grid-column: 1/ 4;
  /* 行の1本目から2本目のグリッドラインまで */
  grid-row-start: 1;
  position: relative; // search-formの親
  background-color: var(--color-primary);
  box-shadow: 0 3px 6px rgba(var(--color-rgb-black), 0.16);
  transition: background-color 0.1s g.ease(in-quart);
  z-index: var(--z-index-header);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    order: 2;

    @include g.mq(md) {
      margin-left: 1.5em;
    }
  }

  // hamburger
  &__menu-button {
    order: 1;
  }

  &__search-button {
    order: 3;
    z-index: var(--z-index-search-icon);
  }
}

// JSで操作.button--searchがtrigger
.l-header.is-search-show {
  background-color: var(--color-white);
}
