// /* ----------------------------------------
//   header
// ---------------------------------------- */

@use '../global' as g;

.l-header {
  position: relative; // search-formの親
  z-index: var(--z-index-header);
  grid-area: header;
  max-height: var(--header-height);
  transition: background-color 0.1s g.ease(in-quart);
  background-color: var(--color-primary);
  box-shadow: 0 3px 6px rgba(var(--color-rgb-black), 0.16);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    order: 2;

    @include g.mq(md) {
      margin-left: 1.25rem;
    }

    img {
      vertical-align: middle;
    }
  }

  // hamburger
  &__menu-button {
    order: 1;
  }

  &__search-button {
    z-index: var(--z-index-search-icon);
    order: 3;
  }
}

// JSでクラスの取り外しを操作。
// trigger: .button--search
.l-header.is-search-show {
  background-color: var(--color-white);
}
