// ----------------------------------------
// main
// ----------------------------------------

@use '../global' as g;

.l-main {
  box-sizing: border-box;
  grid-area: main;
  min-height: calc(100vh - 120px);
  padding: 2rem 0 4rem;
}
