// ----------------------------------------
// sidebar
// ----------------------------------------

@use '../global' as g;

.l-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 240px;
  height: 100%;
  transform: translateX(-100%);

  @include g.mq(lg) {
    transform: translateX(0);
  }
}

// JSで操作.button--hamburgerがtrigger.
.l-sidebar.l-sidebar--open {
  z-index: var(--z-index-sidebar);
  transform: translateX(0);
}
