// ----------------------------------------
// wrapper
// ----------------------------------------

@use '../global/' as g;

// html全体の親
.l-wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: var(--header-height) 1fr var(--footer-height);

  @include g.mq(md) {
    grid-template-areas:
      'header header'
      'drawer-nav main'
      'drawer-nav footer';
    grid-template-columns: var(--drawer-width-md) 1fr;
  }
}
