// ----------------------------------------
// button
// ----------------------------------------

.alert {
  position: relative;
  margin: 2em 0;
  padding: 0.75em 0.75em 0.75em 2.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-weight: 700;
  line-height: 1.5;
  word-break: break-word;

  &::before {
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translateY(-50%);
    display: inline-block;
    line-height: 0;
  }
}

.alert--danger {
  background-color: #fff2f0;
  border-color: #f3c4c8;

  &::before {
    content: url('data:image/svg+xml;utf-8,<svg width="18" height="18" viewBox="0 0 18 18" fill="%23fc8370" xmlns="http://www.w3.org/2000/svg"><path d="M9 0C4.032 0 0 4.032 0 9C0 13.968 4.032 18 9 18C13.968 18 18 13.968 18 9C18 4.032 13.968 0 9 0ZM9.9 13.5H8.1V11.7H9.9V13.5ZM9.9 9.9H8.1V4.5H9.9V9.9Z"/></svg>');
  }
}

.alert--warning {
  background-color: #fffde1;
  border-color: #e8d79f;

  &::before {
    content: url('data:image/svg+xml;utf-8,<svg width="18" height="18" viewBox="0 0 18 18" fill="%23ffb84c" xmlns="http://www.w3.org/2000/svg"><path d="M9 0C4.032 0 0 4.032 0 9C0 13.968 4.032 18 9 18C13.968 18 18 13.968 18 9C18 4.032 13.968 0 9 0ZM9.9 13.5H8.1V11.7H9.9V13.5ZM9.9 9.9H8.1V4.5H9.9V9.9Z"/></svg>');
  }
}

.alert--success {
  background-color: #f8fff1;
  border-color: #b6d696;

  &::before {
    content: url('data:image/svg+xml;utf-8,<svg width="18" height="18" viewBox="0 0 18 18" fill="%2352c41a" xmlns="http://www.w3.org/2000/svg"><path d="M9 0C4.032 0 0 4.032 0 9C0 13.968 4.032 18 9 18C13.968 18 18 13.968 18 9C18 4.032 13.968 0 9 0ZM7.2 13.5L2.7 9L3.969 7.731L7.2 10.953L14.031 4.122L15.3 5.4L7.2 13.5Z"/></svg>');
  }
}
