// ----------------------------------------
// button
// ----------------------------------------

@use '../global' as g;

.button {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  cursor: pointer;
  appearance: none;
}

// アイコンのみボタン共通スタイル
%button-iconBase {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
}

.button--hamburger {
  @extend %button-iconBase;

  @include g.mq(md) {
    display: none;
  }
}

.button--search {
  @extend %button-iconBase;

  @include g.hover() {
    svg {
      opacity: 0.6;
    }
  }
}

// 検索フォームがvisibleのとき
[data-search='visible'] .button--search {
  &::before,
  &::after {
    display: inline-block;
  }
}

.button--close {
  @extend %button-iconBase;
  fill: var(--color-text);
}
