// ----------------------------------------
// button
// ----------------------------------------

@use '../global' as g;

.button {
  appearance: none;
  display: inline-block;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: inherit;
  cursor: pointer;
}

// アイコンのみボタン共通スタイル
%button-iconBase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
}

.button--hamburger {
  @extend %button-iconBase;

  @include g.mq(lg) {
    display: none;
  }
}

.button--search {
  @extend %button-iconBase;
}

.button--close {
  @extend %button-iconBase;
}
