// ----------------------------------------
// button
// ----------------------------------------

@use '../global' as g;

.button {
  appearance: none;
  display: inline-block;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: inherit;
  cursor: pointer;
}

// アイコンのみボタン共通スタイル
%button-iconBase {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
}

.button--hamburger {
  @extend %button-iconBase;

  @include g.mq(lg) {
    display: none;
  }
}

.button--search {
  @extend %button-iconBase;

  &::before,
  &::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1.25rem;
    height: 2px;
    margin: auto;
    background-color: var(--color-text);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// 検索フォームがactiveのとき
.button--search.is-active {
  &::before,
  &::after {
    display: inline-block;
  }
}
