// ----------------------------------------
// drawer
// ----------------------------------------

@use '../global' as g;

.drawer {
  box-sizing: border-box;
  height: 100%;
  border-right: 1px solid var(--color-border);
  background-color: var(--color-white);

  &__header {
    position: relative;
    box-sizing: border-box;
    max-height: var(--header-height);
    padding: 16px 1.5rem; // ブラウザ側で文字サイズが拡大されても、ロゴの表示がずれないようにする
    border-bottom: 1px solid var(--color-border);
    font-size: 16px; // ブラウザ側で文字サイズが拡大されても、ロゴの表示がずれないようにする
  }

  &__close {
    position: absolute;
    z-index: var(--z-index-menu-icon);
    top: 0;
    left: 0;

    @include g.mq(md) {
      display: none;
    }
  }

  &__logo {
    width: calc(100% - 120px);
    margin: 0 auto;
    text-align: center;

    @include g.mq(md) {
      width: auto;
      text-align: left;
    }

    a {
      display: inline-block;
    }

    img {
      vertical-align: middle;
    }
  }

  &__body {
    height: 100%;
    overflow-y: auto;
  }

  &__title {
    padding: 1.5rem 1.5rem 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
  }

  &__nav {
    margin-top: 0.75rem;
  }

  &__list {
    padding: 0 0.5rem 6rem;
  }

  &__item {
    a {
      display: block;
      padding: 0.625rem 1rem;
      transition: background-color 0.2s g.ease(in-cubic), color 0.3s g.ease(in-cubic);
      color: var(--color-primary-dark);
      font-size: 0.875rem;
      line-height: 1.5;
      word-break: break-word;

      @include g.hover() {
        background-color: var(--color-primary-light);
        color: var(--color-text);
      }
    }
  }
}
