// ----------------------------------------
// heading
// ----------------------------------------

@use '../global' as g;

.heading {
  font-weight: 700;
  font-feature-settings: 'palt';
  word-break: break-word;
  line-height: 1.5;
}

// 見出しレベル1
.heading--1 {
  font-size: 1.75em; // 28

  @include g.mq(md) {
    font-size: 2.25em; // 36
  }
}
