// ----------------------------------------
// heading
// ----------------------------------------

@use '../global' as g;

.heading {
  font-weight: 700;
  font-feature-settings: 'palt';
}
// 見出しレベル1
.heading.-primary {
  font-size: 1.75em;

  @include g.mq(md) {
    font-size: 2.25em;
  }
}
