// ----------------------------------------
// link
// ----------------------------------------

.link {
  padding-bottom: 0.25em;
  border-bottom: 1px solid currentColor;
  color: var(--color-link);
  font-weight: 700;

  svg {
    margin-right: 0.5em;
  }
}
