// ----------------------------------------
// link
// ----------------------------------------

@use '../global/' as g;

.link {
  padding-bottom: 0.25em;
  transition: border-color 0.2s g.ease(out-expo);
  border-bottom: 1px solid currentColor;
  color: var(--color-link);
  font-weight: 700;

  @include g.hover() {
    border-color: transparent;

    svg {
      transform: translateX(-4px);
    }
  }

  // アイコンが前にある場合
  svg {
    margin-right: 0.5em;
    transition: transform 0.2s g.ease(out-expo);
  }
}
