// ----------------------------------------
// overlay
// ----------------------------------------

@use '../global/' as g;

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.25s g.ease(in-quart);
  opacity: 0;
  background-color: var(--color-overlay);
}

// overlay表示時(extend)
%overlayVisible {
  visibility: visible;
  opacity: 1;
}

[data-search='visible'] .overlay {
  @extend %overlayVisible;
  z-index: var(--z-index-overlay-search);
}

[data-drawer='open'] .overlay {
  @extend %overlayVisible;
  z-index: var(--z-index-overlay-hamburger);
}
