// ----------------------------------------
// post
// ----------------------------------------

@use '../global/' as g;

.post {
  position: relative;
  max-width: 62.5em; // 1000px

  @include g.mq(lg) {
    padding-right: 15em; // 240px
  }

  &__toc {
    @include g.mq(lg) {
      position: absolute;
      top: 0;
      right: 0;
    }

    // スクロールで固定
    &.is-fixed {
      @include g.mq(lg) {
        position: fixed;
        top: 2em;
        right: 2.5em;
      }

      @media (min-width: 1500px) {
        right: calc(50% - 710px);
      }
    }
  }

  &__body {
    margin: 4em 0;
  }
}

// 目次がない時
.post.is-no-toc {
  @include g.mq(lg) {
    padding-right: 0;
  }
}
